.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownInput, .dropDownInput::placeholder {
    color: white;
    /*font-weight: bold;*/
    font-size: 1.5vw;
    background-color: #1f2833;
    border: 0;
    border-bottom: 2px solid #45A291;
    text-align: center;
}

.dropDownInput:focus {
    text-align: right;
}

.dropDownMenu {
    position: absolute;
    z-index: 1;
    background-color: #0b0c10;
    width: 100%;
    min-width: 20em;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 1.5vw;
    font-weight: normal;
    padding: 0.15em 0.3em;
    white-space: nowrap;
    border-radius: 10px;
}