.dropDown {
    position: relative;
    display: inline-block;
    margin: 0.6em;
}

.dropDownInput {
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: #0b0c10;
    border-radius: 5px;
    padding: 0.4em;
    /*text-align: center;*/
    border: #66fcf1 2px solid;
}

.dropDownInput:focus {
    text-align: left;
}

.dropDownMenu {
    position: absolute;
    z-index: 1;
    background-color: #0b0c10;
    width: 100%;
    min-width: 15em;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 1.5vw;
    font-weight: normal;
    padding: 0.15em 0.3em;
    white-space: nowrap;
    border-radius: 10px;
}