.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownInput {
    font-size: 3vw;
    background-color: #c5c6c7;
}

.dropDownMenu {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}