.Header {
  text-align: center;
  background-color: #0b0c10;
  display: flex;
  justify-content: space-between;
}
.Header h6 {
  padding: 0.1em;
  margin: 0;
  color: #66fcf1;
  font-size: 3vh;
}
.Header .titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Header .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Header .logoImage {
  width: 92px;
  height: 54px;
}
.Header .languageDropDown {
  width: 92px;
  height: 54px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.Header .languageDropDown .dropDown {
  direction: rtl;
}
.Header .languageDropDown .dropDownMenu {
  width: 100%;
  min-width: 100px;
}
.Header #languageDropDownMenu-dropdown li {
  text-align: right;
}
@media (max-width: 620px) {
  .Header .logoAndText {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .Header .formBlock {
    display: none;
  }
}
