.Video {
    width: 100%;
    display: flex;
}

.Video .Rank {
    width: 10vw;
    height: 10vw;
    font-size: 3em;
    color: #66fcf1;
    /*border: #45A291 3em;*/
}

.Video .Title {
    color: white;
    white-space: nowrap;
}

.Video .ThumbnailAndStats {
    display: flex;
}

.Video .Thumbnail {
    width: 120px;
    height: 90px;
    float: left;
}

.Video .Stats {
    margin: auto 3vw;
}

.Video .Info {
    color: white;
    text-align: left;
}

a {
    color: #66fcf1;;
}
