#loader {
    z-index: 1;
    width: 75px;
    height: 75px;
    border: 16px solid #0b0c10;
    border-radius: 50%;
    border-top: 16px solid #66fcf1;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
.selected {
  border: #66fcf1 2px solid;
  cursor: pointer
}