.Video {
	width: 65vw;
	display: flex;
	background-color: #0b0c10;
	border-radius: 25px;
    margin: 0.5vw 0;
    
	.Rank {
		min-width: 8vw;
		height: 100%;
		font-size: 3em;
		color: #66fcf1;
		margin: auto 0;
    }
    
	.TitleText {
		color: white;
		display: flex;
		align-items: center;
    }
    
	#MobileRank {
		display: none;
    }
    
	.ThumbnailAndStats {
		display: flex;
    }
    
	.Thumbnail {
		width: 240px;
		height: 135px;
		float: left;
    }
    
	.Stats {
		margin: auto 1vw;
		p {
			margin: 0.5em 0;
		}
    }
    
	.Info {
		color: white;
		text-align: left;
		margin: 0.5vw 0;
    }
    
	.Info2 {
		display: flex;
    }
}

a {
	color: #66fcf1;
}

@media (max-width: 620px) {
	.Video {
        width: 100%;
        
		.Rank {
			min-width: initial;
        }
        
		#DesktopRank {
			display: none;
        }
        
		#MobileRank {
			display: initial;
        }
        
		.Info {
			#MobileRank {
				h2 {
					min-width: 8vw;
					color: #66fcf1;
					margin: auto 0;
					padding: 10px 5px 10px 10px;
				}
			}
        }
        
		.ThumbnailAndStats {
			flex-direction: column;
			.Thumbnail {
				width: 100%;
				height: 100%;
			}
        }
        
		.Title {
			text-align: center;
			display: flex;
			width: initial;
			margin: auto 0;
        }
        
		.Stats {
			flex-wrap: wrap;
			text-align: center;
			display: flex;
			justify-content: space-around;
        }
        
		.TitleText {
			h3 {
				text-align: left;
			}
		}
	}
}
