.Video {
    width: 70%;
    display: flex;
    background-color: #0b0c10;
    border-radius: 25px;
    margin: 0.5vw 0;
}

.Video .Rank {
    width: 10vw;
    font-size: 3em;
    color: #66fcf1;
    /*border: #45A291 3em;*/
}

.Video .Title {
    color: white;
    white-space: nowrap;
}

.Video .ThumbnailAndStats {
    display: flex;
}

.Video .Thumbnail {
    width: 240px;
    height: 135px;
    float: left;
}

.Video .Stats {
    margin: auto 1vw;
}

.Video .Stats p {
    margin: 0.5em 0;
}

.Video .Info {
    color: white;
    text-align: left;
}

a {
    color: #66fcf1;;
}
